.custom-button {
  margin: 1.5rem;
  background-color: rgba(103, 59, 204, 64%);
  border-color: #673bcc;
  font-family: "Indie Flower", cursive;
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: 600;

  &:hover,
  &:active {
    background-color: #42228c;
    border: 2px solid #4619af;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}