.container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.character {
  display: flex;
  flex-wrap: wrap;
  width: calc(25% - 20px);
  padding: 10px;
  margin: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.2509803922);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 7px 12px 11px 0px rgb(36 44 181);
  min-height: 300px;

  img {
    width: 100%;
    box-shadow: 3px 4px 5px 0 rgb(44, 44, 48);
    border-radius: 4px;
    height: 180px;
    margin-bottom: 10px;
  }

}

main .disney-gif-characters {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px 65px;
  box-shadow: 7px 12px 11px 0px rgb(36 44 181);
  height: 300px;
  transition: all 1s;
  &:hover {
    box-shadow: 7px 12px 11px 0px rgb(23 247 112);
  }
}
