@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

// $hfont: 'Rancho', cursive;


body {
  margin: 0;
  background-color: rgb(215, 209, 223);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

h1, h2 {
  font-family: 'Rancho', cursive;
}

h2 {
  padding: 1.5px;
  text-indent: 5px;
  color: #3e4468;
  background: #d7d1df;
  border-radius: 4px;
  font-size: 20px;
  width: 12rem;
  text-align: center;
  box-shadow: 0px 2px 17px 0px rgb(33 42 193);
}

.home {
  width: 30px;
}